<h1 class= "main-title">Bienvenido</h1>
<h2 class= "sub-title">Ingrese su Curriculum Vitae</h2>

<div class="body-text">
<%= render 'form' %>

<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn btn-default' %>

</div>