<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Calificación registrada</h1>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <div class="text-center confirmation-icon"><i class="fa fa-check-circle"></i>  </div>
            <h2 class="text-center">Su registrado su opinion con exito</h2>
            <div class="text-center">
                <a href="<%= micuenta_mis_reservas_path %>" class="btn btn-success">Mis Reservas</a>
                <a href="<%= root_path %>" class="btn btn-default">Inicio</a>
            </div>
        </div>
    </div>
</div>