<footer id="footer">
  <div class="block-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Our Company</h3>
          <p>Herem ipsum dolor sitertolo moleto mo ametteturing elit. In mollis eraterimer mattis neque facilisis, sit ametero tolo ultricies erat rutr. Crasisis nullat viverra auctora sodales.felis, quis malesuadah odio ut velit. Proin pharetra luctus diam, a sceleriteter werto sque eros convallis accumsan</p>
        </div>
        <div class="col-sm-2">
          <h3>Useful Info</h3>
          <ul class="list-unstyled">
            <li><a href="#">Berem ipsum dolor</a></li>
            <li><a href="#">Ametteturing elitn mollis</a></li>
            <li><a href="#">Mattis neque facilisis</a></li>
            <li><a href="#">Ultricies erat rutr rerasis</a></li>
            <li><a href="#">Viverra auctora sodales</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h3>Our Fleet</h3>
          <ul class="list-unstyled">
            <li><a href="#">Terem ipsum</a></li>
            <li><a href="#">Smetteturing elitn</a></li>
            <li><a href="#">Imattis neque facilis</a></li>
            <li><a href="#">Ricies erat ruasisis null</a></li>
            <li><a href="#">Et viverra auctora</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3>Contacts</h3>
          <p class=""><i class="fa fa-home"></i>8901 Marmora Road, Glasgow,  D04 89GR</p>
          <p><i class="fa fa-phone"></i>+1 (800) 123 9876</p>
          <p><i class="fa fa-envelope"></i><a href="mailto:info@demolink.org">info@demolink.org</a></p>
          <p><i class="fa fa-globe"></i><a href="mailto:www.demolink.org">www.demolink.org</a></p>
        </div>
      </div>

    </div>
  </div>
</footer>